*{
    margin: 0;
    box-sizing: border-box;
}

:root{
    font-size: 16px;
    --red: #c60c30;
    --white: #FFFFFF;
    --yellow: #f7df1e;
    
}

html{
    font-size: 16px;
}

a{
    color: inherit;
    text-decoration: none;
}

a:visited{
    color: inherit;
}

body{
    background-color: var(--red);
    color: var(--white);
    font-family: como, sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
}

/* MAIN CONTAINER */

.container{

    max-width: 100vw;
    max-height: auto;
    
    margin: 2rem auto;
    padding: 1rem;
}


/* HEADER */

header {
    width: 100%;
    height: 6rem;
}

.home-btn{
    border: 1px solid white;
    font-size: 1rem;
    background-color: transparent;
    color: white;
    opacity: 60%;
    font-family: como, sans-serif;
    font-weight: 600;
    font-style: normal;
    display: block;
    margin: 1rem auto 0 auto;
}

/* MAIN */

#main{
    width: 90vw;
    height: auto;
    text-align: center;
}

h1{
    font-family: como, sans-serif;
    font-weight: 600;
    font-style: normal;
    margin: 0rem auto 1rem auto;
    font-size: 2rem;
}

.cript{
    text-decoration: underline var(--yellow);
    
    font-size: 2rem;
}

.learning-p{
    margin: 0 auto 3rem auto;
    text-align: center;
}


.outer-border{
    
    max-width: 80vw;
    height: 20vh;
    margin: 2rem auto;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(198,12,48);
    background: linear-gradient(100deg, rgba(198,12,48,1) 85%, rgba(247,223,30,1) 100%);
    filter: drop-shadow(4px 4px 6px black);
}


/* MEDIA QUERY 500PX */

@media only screen and (min-width: 500px){
    span{
        font-size: 1.5rem;
    }
}


/* MEDIA QUERY 1000PX */

@media only screen and (min-width: 1000px){
    .categories{

        width: 90vw;
        height: 50vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;   
    }

    h1{
        font-size: 2.5rem;
    }

    .learning-p{
        font-size: 1.5rem;
    }
}