*{
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

a{
    color: inherit;
    text-decoration: none;
}

a:visited{
    color: inherit;
}

body{
    background-color: #C60C30;
    color: white;
    font-family: como, sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
}

/* MAIN CONTAINER */

.container{

    max-width: 90vw;
    max-height: 85vh;
    border: 1px solid white;
    margin: 2rem auto;
}


/* HEADER */

header {
    width: 100%;
    height: 6rem;
}

.home-btn{
    border: 1px solid white;
    font-size: 1rem;
    background-color: transparent;
    color: white;
    opacity: 60%;
    font-family: como, sans-serif;
    font-weight: 600;
    font-style: normal;
    display: block;
    margin: 1rem auto 0 auto;
}

/* MAIN */

#main{
    width: 90vw;
    height: 80vh;
    text-align: center;
}

h1{
    font-family: como, sans-serif;
    font-weight: 600;
    font-style: normal;
    margin: 0rem auto 1rem auto;
}

.learning-p{
    margin: 0 auto 3rem auto;
    text-align: center;
}

.categories{

    width: 90vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;    
}

span{
    width: 70vw;
    margin: 0 auto;
    text-align: center;
    font-family: como, sans-serif;
    font-weight: 600;
    font-style: normal;
}

/* MEDIA QUERY 500PX */

@media only screen and (min-width: 500px){
    span{
        font-size: 1.5rem;
    }
}


/* MEDIA QUERY 1000PX */

@media only screen and (min-width: 1000px){
    .categories{

        width: 90vw;
        height: 50vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;   
    }

    h1{
        font-size: 2.5rem;
    }

    .learning-p{
        font-size: 1.5rem;
    }
}