*{
    margin: 0;
    box-sizing: border-box;
}

:root{
  font-size: 16px;
  --red: #c60c30;
  --white: #FFFFFF;
  --yellow: #f7df1e;
  --black: #000000;  
}



a{
    color: inherit;
    text-decoration: none;
    text-align: center;
    align-self: center;
}

a:visited{
    color: inherit;
}

body{
    background-color: var(--red);
    color: var(--white);
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

/* MAIN CONTAINER */

.container{
    max-width: 90vw;
    max-height: 80vh;
    margin: 2rem auto 0 auto;
    background: rgb(198,12,48);
    background: linear-gradient(100deg, rgba(198,12,48,1) 85%, rgba(247,223,30,1) 100%);
    filter: drop-shadow(4px 4px 6px black);
    border-radius: 1rem;
}

/* MAIN */

#main{
    width: 90vw;
    height: 80vh;
    text-align: center;
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
  font-family: poppins, sans-serif;
  font-weight: 700;
  font-style: normal;
  margin: 0rem auto 1rem auto;
  opacity: 80%;
}

.learning-p{
    margin: 0 auto 2rem auto;
    text-align: center;
    padding: 0 1rem;
}

/* THREE ADJECTIVES */

.three-adjectives{
    font-size: 1.5rem;
}

/* FORMS */

.adjForm1{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    max-width: 70vw;
    min-height: 40vh;
    margin: 0 auto;
    color: white;
  }
  
  .adjForm2{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    max-width: 70vw;
    min-height: 40vh;
    margin: 0 auto;
    color: var(--white);
  }
  
  .adjForm3{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    max-width: 70vw;
    min-height: 40vh;
    margin: 0 auto;
    color: var(--white);
  }

  /* INPUTS */
  
 .form1pos3 {
  color: var(--white);
  background-color: transparent;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  border: none;
  border-bottom: 1px solid white;
  text-align: center;
  font-family: poppins, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  }

  .form2pos2{
    color: white;
    background-color: transparent;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    border: none;
    border-bottom: 1px solid white;
    text-align: center;
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
  }

  .form3pos1{
    color: white;
    background-color: transparent;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    border: none;
    border-bottom: 1px solid white;
    text-align: center;
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
  }

  ::placeholder{
      color: #F7F5F2;
      opacity: 1;
  }
  
  /* LABELS */
  
  label {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    color: white;
  }

  /* SUBMIT BTN */ 

  .submit-btn1{
    border: 2px solid white;
    font-size: 1rem;
    background-color: transparent;
    color: white;
    opacity: 100%;
    margin: 3rem auto 0rem auto;
    padding: 0.7rem 2rem;
  }

  .submit-btn1:hover{
    cursor: pointer;
    color: var(--black);
    background-color: var(--white);
  }

  .submit-btn2{
    border: 2px solid white;
    font-size: 1rem;
    background-color: transparent;
    color: white;
    opacity: 100%;
    margin: 3rem auto 0rem auto;
    padding: 0.7rem 2rem;
  }

  .submit-btn2:hover{
    cursor: pointer;
    color: var(--black);
    background-color: var(--white);
  }

  .submit-btn3{
    border: 2px solid white;
    font-size: 1rem;
    background-color: transparent;
    color: white;
    opacity: 100%;
    margin: 3rem auto 0rem auto;
    padding: 0.7rem 2rem;
  }

  .submit-btn3:hover{
    cursor: pointer;
    color: var(--black);
    background-color: var(--white);
  }

  /* LOWER BUTTONS */

  .btns{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      max-width: 90vw;
      margin: 2rem auto 0 auto;
      opacity: 80%;
  }


  .back-btn{
    font-size: 1rem;
    background-color: transparent;
    color: var(--white);
    border: none;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    text-decoration: underline var(--yellow);
  }

  .back-btn:hover{
    cursor: pointer;
    background-color: var(--yellow);
    color: var(--black);
  }


  .next-section-btn{
    font-size: 1rem;
    background-color: transparent;
    color: var(--white);
    border: none;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    text-decoration: underline var(--yellow);
  }

  .next-section-btn:hover{
    cursor: pointer;
    background-color: var(--yellow);
    color: var(--black);
  }



  @media only screen and (min-width: 1000px){
    .container{
      margin: 3rem auto 0 auto;
      max-width: 90vw;
      max-height: 80vh;
      border: none;
      margin: 5rem auto 0 auto;
      

    }
    #main{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      margin: 0 auto;
    }

    .intro{
      width: 35%;
      
    }
    h1{
      font-size: 2rem;
    }
    .learning-p{
      font-size: 1.5rem;
    }

    .three-adjectives{
      width: 70%;
      border-left: 1px solid var(--yellow);
      font-size: 2rem;
    }
  }